body {
  background-color: #eeeeee;
}

.dashed {
  border: 2px dashed #cccccc;
}

.btn {
  border-radius: 30px;
}

#submit {
  float: left;
}

#copy {
  float: right;
}

.form-control[readonly] {
  background-color: #ffffff;
}